{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/input/macro.njk"         import govukInput %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("whatIsHeadOfficeAddressWithPostcode.title"), form.errors) }}
{% endblock %}

{% block mainContent %}

  {{ govukBackLink({
    text: messages("site.back")
  }) }}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <form action="{{ routes.controllers.WhatIsHeadOfficeAddressWithPostcodeController.onSubmit(mode).url }}" method="post">

          {{ csrf() | safe }}

        <h1 class="govuk-heading-xl">
          {{ messages("whatIsHeadOfficeAddressWithPostcode.heading") }}
        </h1>

          {{ govukInput({
            label: {
              text: messages('whatIsHeadOfficeAddressWithPostcode.AddressLineOne')
            },
            id: "AddressLineOne",
            name: "AddressLineOne",
            value: form.AddressLineOne.value,
            errorMessage: form.AddressLineOne.error
          }) }}

          {{ govukInput({
            label: {
              text: messages('whatIsHeadOfficeAddressWithPostcode.AddressLineTwo')
            },
            id: "AddressLineTwo",
            name: "AddressLineTwo",
            value: form.AddressLineTwo.value,
            errorMessage: form.AddressLineTwo.error
          }) }}

        {{ govukInput({
          label: {
            text: messages('whatIsHeadOfficeAddressWithPostcode.AddressLineThree')
          },
          id: "AddressLineThree",
          name: "AddressLineThree",
          value: form.AddressLineThree.value,
          errorMessage: form.AddressLineThree.error
        }) }}

         {{ govukInput({
              label: {
                text: messages('whatIsHeadOfficeAddressWithPostcode.AddressLineFour')
              },
              id: "AddressLineFour",
              name: "AddressLineFour",
              value: form.AddressLineFour.value,
              errorMessage: form.AddressLineFour.error
            }) }}

         {{ govukInput({
              label: {
                text: messages('whatIsHeadOfficeAddressWithPostcode.Postcode')
              },
              id: "Postcode",
              name: "Postcode",
              value: form.Postcode.value,
              errorMessage: form.Postcode.error
            }) }}

          {{ govukButton({
            text: messages("site.continue")
          }) }}

        </form>

      </div>
    </div>
  </div>

{% endblock %}
